/2022_TaxReturn.pdf
/2023_TaxReturn.pdf
/20250108_132324.jpg
/20250114_171256.jpg
/20250114_171259.jpg
/20250117_172746.jpg
/444_hw1 (1).pdf
/444_hw1.pdf
/ads3.csv
/badslider.vl.json
/Comic.pdf
/countries.csv
/desktop.ini
/hw0-A
/hw1-A
/hw2-A
/hw3-A
/hw4-A
/IMG_20240401_223527.jpg
/IMG_20240402_095729.jpg
/Math318LectureNotes.pdf
/OECD.ENV.EPI,DSD_AIR_GHG@DF_AIR_GHG,+.A.._T..csv
/OECD.ENV.EPI,DSD_AIR_GHG@DF_AIR_GHG,+.A.GHG...csv
/OECD.ENV.EPI,DSD_AIR_GHG@DF_AIR_GHG,+.A.GHG._T.KG_CO2E_PS(1).csv
/OECD.ENV.EPI,DSD_AIR_GHG@DF_AIR_GHG,+.A.GHG._T.KG_CO2E_PS.csv
/OECD.ENV.EPI,DSD_AIR_GHG@DF_AIR_GHG,+all.csv
/out (1).txt
/out.txt
/outpasses.txt
/Resume (1).pdf
/Screenshot 2025-01-14 153330.png
/SOC225_AS1_HECKMAN.html
/sunshine.csv
/sunshine.json
/The_Lightning_Thief_-_Percy_Jackson.pdf
/US Instructor Contract 2022.pdf
/visualization (1).png
/visualization.png
/visualization.vl.json
/W-2_Form_2022_Heckman_2024_04_03_01_52_30_-0700_W-2_ESS.pdf
/W-2_Form_2023_Heckman_2024_04_02_23_50_09_-0700_W-2_ESS.pdf